<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
   <a class="navbar-brand" href="#">Logo</a>

   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
   </button>


   <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">

        


         {% if usuario %}
            <li class="nav-item">
               <a class="nav-link" href="/usuario">Inicio</a>
            </li>

            <li class="nav-item">
               <a class="nav-link" href="logout/usuario">Cerrar Seccion</a>
            </li>


         {% elif administrador %}
            <li class="nav-item">
               <a class="nav-link" href="profesorcrud">Profesores</a>
            </li>

            <li class="nav-item">
               <a class="nav-link" href="electivascrud">Electivas</a>
            </li>

            <li class="nav-item">
               <a class="nav-link" href="logout/administrador">Cerrar Seccion</a>
            </li>

         {% else %}

            <li class="nav-item">
               <a class="nav-link" href="login">Login</a>
            </li>

            <li class="nav-item">
               <a class="nav-link" href="registro">Registrarte</a>
            </li>

         {% endif %}

      </ul>

   </div>

</nav>