{% extends 'base/head.html'%}


{% block nav %}

{% include 'nav.html'%}

{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="col-md-12" id="alerta-table">

    </div>
    <div class="row justify-content-center">

        <div class="col-md-12">
            <div class="col-md-12 text-center bg-info">
                <h1 class="text-white-50">Todas las Electivas</h1>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-light" id="elec">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Nombre de electiva</th>

                        </tr>
                    </thead>
                    <tbody>

                        {% for es, el in estlec %}

                        <tr>
                            <td>{{ es.id }}</td>
                            <td>{{ es.correo }}</td>
                            <td>{{ el.nombre }}</td>
                        </tr>
                        {% endfor %}




                    </tbody>
                </table>
            </div>
        </div>


    </div>

    <div class="mt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4">Inscribirme a una electiva</h1>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12 d-flex justify-content-center">
            <div class="col-md-7 bg-dark p-4 rounded shadow-lg">

                <div id="alerta">

                </div>
                <div class="form-group">
                    <label for="" class="text-white">Electivas</label>
                    <select class="form-control" id="electselec">

                        {% for row in elest %}
                        <option id="{{ row.id }}">{{ row.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-danger w-100" value="Inscribirme a una electiva" id="btnInscribir">
                </div>

            </div>
        </div>
    </div>





</div>

{% endblock%}